@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background-color: white;
  animation: blink 1s linear infinite;
}
