.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2rem;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
}

.title {
  margin-right: auto;
}

.burger-menu {
  display: none;
  width: 24px;
  height: 20px; /* Modifié */
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  position: relative;
  margin-right: 10px;
}

.burger-menu span {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  left: 0;
}

.burger-menu span:nth-child(1) {
  top: 0;
}

.burger-menu span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger-menu span:nth-child(3) {
  bottom: 0;
}

.burger-menu.cross span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.burger-menu.cross span:nth-child(2) {
  opacity: 0;
}

.burger-menu.cross span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out; /* Ajouté */
}

.menu li {
  list-style: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.menu a {
  text-decoration: none;
}

.menu li:hover {
  transition: 0.3s ease-in-out;
  font-size: 1.5em;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff,
    0 0 50px #fff;
}

@media (max-width: 767px) {
  .burger-menu {
    display: inline-block;
  }

  .menu {
    display: none;
    position: fixed; /* Modifié de 'absolute' à 'fixed' */
    top: 60px; /* Modifié de '-18px' à '60px' */
    left: 0; /* Modifié de '50%' à '0' */
    right: 0; /* Modifié de '0' à '0' */
    bottom: 0; /* Ajouté */
    flex-direction: column;
    max-width: 100%;
    text-align: center;
    padding: 15px 0;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: rgba(
      0,
      0,
      0,
      0.8
    ); /* Ajouté pour une meilleure visibilité du menu */
  }

  .menu.open {
    display: flex;
    opacity: 1;
  }

  .menu li {
    margin: 10px 0;
  }
}

@media (max-width: 575px) {
  .nav-container {
    width: 100% !important;
  }
}
