.networks-container {
  height: 50px;
  width: 300px;
  display: flex;
  margin-left: 45px;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.logo {
  width: 30px;
  height: 30px;
  transition: 0.3s ease-in-out;
}

.logo:hover {
  filter: brightness(1.2);
  cursor: pointer;
  transform: scale(1.4);
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 1030px) {
  p {
    font-size: 1.5rem;
  }
}
