.bottom-to-top-text {
  position: relative;
  bottom: -100%;
  opacity: 0;
  animation: slideIn2 2s linear forwards;
}

@keyframes slideIn2 {
  0% {
    bottom: -100%;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
