.picture-container {
  margin-top: 75px;
  margin-left: -50px;
}

.pic {
  width: 400px;
  height: 600px;
}

@media screen and (max-width: 1030px) {
  .pic {
    width: 250px;
    height: 600px;
  }
}
@media screen and (max-width: 767.98px) {
  .pic {
    display: none;
  }
}
