.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 1rem;
  margin-top: 75px;
}

.footer-container p {
  font-size: 0.7rem;
}

@media screen and (max-width: 767px) {
  .footer-container {
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
  .footer-container {
    width: 100% !important;
  }
}
