.mouse {
  position: absolute;
  border-radius: 1500px;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}

#cursor {
  background: #2128bd;
  width: 14px;
  height: 14px;
}
#mouse1 {
  height: 75px;
  width: 75px;
  background: white;
  transition: 0.15s ease-out;
}
#mouse2 {
  height: 150px;
  width: 150px;
  background: rgb(41, 41, 41);
  transition: 0.25s ease-out;
}
