h2 {
  font-size: 5rem;
  width: 100%;
}

h2 b {
  color: blueviolet;
}
.about-container {
  width: 70%;
  margin-top: 15%;
}

.about-container p {
  font-size: 1rem;
}
.text-about {
  opacity: 0;
  animation: fadeIn3 8s linear forwards;
}

.text-about p {
  margin-top: 20px;
}

/* aboutMe.css */
.download-btn-container {
  display: flex;
  width: 100%;

  color: #fff;
}
.download-btn {
  z-index: 1000;
  display: flex;
  justify-content: center;
  height: 100%;
  border-radius: 1500px;
  margin-top: 10%;
  margin-left: 40%;
  padding: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #000;
  background-color: #fff;
}

@keyframes fadeIn3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
