h2 {
  font-size: 8rem;
}

h2 b {
  color: blueviolet;
}
.about-container {
  width: 70%;
  margin-top: 15%;
}

.about-container p {
  font-size: 1rem;
  width: 70%;
}
.text-about {
  opacity: 0;
  animation: fadeIn3 8s linear forwards;
}

@keyframes fadeIn3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
